.profile-2-column {
    margin: 28px;
}
.profile-detail {
    border: 1px solid #888888;
    margin: 0px 16px;
    border-radius: 10px;
}
.btn-primary {
    border-radius: 20px;
}
.photo{
    border: 1px solid #888888;
    border-radius: 10px;
    max-width: 150px;
}
.title {
    text-align: right;
}
.title-info {
    text-align: left;
}
.left-box {
    padding: 4px;
}
.upload-button {
    max-width: 150px;
    max-width: 150px;
}
/* @media screen and (max-width: 991px) { */
    
/* } */