
.rounded {
 text-align: left;
 padding: 16px;
 text-transform: lowercase;
 min-height: 300px;
}
h6::first-letter {
    text-transform: capitalize;
}
.nom {
    text-transform: uppercase;
}
.prenom {
    text-transform: capitalize;
}
.btn-link {
    text-align: left;
    padding-left: 0px;
}
.btn-danger {
    border-radius: 22px;
}
p {
    text-align: left;
    text-transform: capitalize;
}