hr {
    margin: 0px;
}
.send-button {
    border-radius: 25px;
}

.rr{
    background-color: red;
}


.portrait-button-3{
  margin-top: 10px;
  margin-left: 25vh;

  padding: 10px;
  font-weight: bold;
  font-size: 18px;
   border: 2px solid #0a3968 ;
  border-radius: 10px; 
   background-color: #0a3968;;
  color: #fff;
}
.portrait-button-3:hover { 
  text-decoration: none;
  background-color: #fff;
  color:#37628D;
                        
}

@media (max-width: 767px) {
  .portrait-button-3{
 
  margin-left: 3vh;
  
}
.resposive-text{
      margin-left: 1vh;
}
}
