.box-main {
    margin: 4px 16px;
}
.question {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #37628D;
    margin-top: 8px;
    font-weight: 700;
}
li {
    text-transform: none;
    font-weight: 700;
}
