
.container{
    font-family: Arial, Helvetica, sans-serif;
}

.container p{
    text-transform: none;
}

.first-image{
    margin-left: 12px;
}
.formation-text-color{
    color:#37628D;
}
.first-image h2{
    font-weight: bold;
}
/* .first-image img{
    height: 40vh;
} */
.telephone-text{
   
    font-size: 1.2rem;
    font-weight: bold;
    color:#37628D;
}
.formations-text{
     font-size: 1.2rem;
    font-weight: bold;
    color:#37628D;
}



.accueil-button{
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid tomato ;
  border-radius: 10px; 
  background-color: tomato;;
  color: #fff;
  
}
.accueil-button:hover { 
  text-decoration: none;
  background-color: #fff;
  color:#37628D;
                        
}
.text-justify{
    text-align: justify;
}

.heading {
    font-size: 1.2rem;
    color: 37628D;
    font-weight: 600;
    margin-top: 1rem;
}
.sub-heading {
    font-size: 1.2rem;
    color: #37628D;
    font-weight: 600;
    text-align: center;
    text-transform: none;
}


.social-medial a  i {
    font-size: 2rem;
    margin: 16px 4px;
}
.social-media-icon:hover, .social-media-icon:focus {
    font-size: 2.7rem;
}
.facebook {
    color: #3b5998;
}
.instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .twitter {
      color: #55acee;
  }
  .linkedin {
      color: #0976b4;
  }
  span {
      font-weight: 700;
  }
  .mycard{
    margin: 8px 16px !important;
  }
.columns{        
    flex-direction: row-reverse;
    margin: 8px;
}
  
.button_info {
   background-color: #0a3968;;
   border: 2px solid #0a3968 ;
   border-radius: 10px; 
  color: #fff;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.card {
    padding: 0px;
    margin: 24px auto;
}
.card-header {
    background-color: #37628D;
    
}
.boxes {
    margin: auto;
}

.errors-message {
    color: red;
}
.control-label   {
    color:rgb(56, 56, 56);
    text-align: left !important;
}
.form-group {
    padding: 4px 8px;
}
label {
    text-align: left !important;
    font-size: 1rem !important;
    text-transform: none;
}
.form-control {
    background-color: #e0dfdf;
    border: 1px solid rgb(153, 152, 152);
}
.btn {
    width: 100%;
}
#togglePassword {
    cursor: pointer;
    height: 37.535px;
    padding: 11px 15px;
    background: none;
    border-left: none;
}
#toggleConfirmPassword {
    cursor: pointer;
    height: 37.535px;
    padding: 11px 15px;
    background: none;
    border-left: none;
}
.pass {
    float: right;
    margin-left: -25px;
    margin-top: -35px;
    position: relative;
    z-index: 2;
}
.cpass {
    float: right;
    margin-left: -25px;
    margin-top: -35px;
    position: relative;
    z-index: 3;
}
hr {
    margin: 8px;
}
.successIcon {
    color: green;
    font-size: xx-large;
}
.header-text {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
}
.star {
    color: red;
    font-weight: 700;
}
.login-link{
    display: flex;
    justify-content: right;
    align-items: center;
    text-transform: none;
}
.register-link {
    background-color: #00A807;
    color: white;
}

.rounded {
 text-align: left;
 padding: 16px;
 text-transform: lowercase;
 min-height: 300px;
}
h6::first-letter {
    text-transform: capitalize;
}
.nom {
    text-transform: uppercase;
}
.prenom {
    text-transform: capitalize;
}
.btn-link {
    text-align: left;
    padding-left: 0px;
}
.btn-danger {
    border-radius: 22px;
}
p {
    text-align: left;
    text-transform: capitalize;
}

@media (max-width: 767px) {   
        .first-image{
    margin-left: 0px;
    
}

  label {
        text-align: left !important;
    }
    .login-link {
        margin: 16px auto;
        text-align: center;
        justify-content: center;
    }

}