
.card {
    padding: 0px;
    margin: 10px auto;
}
.card-header {
    background-color: #37628D;
    
}
.boxes {
    margin: auto;
}

.errors-message {
    color: red;
}
.control-label   {
    color:rgb(56, 56, 56);
    text-align: left !important;
}
.form-group {
    padding: 8px;
}
label {
    text-align: left !important;
    font-size: 1rem !important;
}
.form-control {
    background-color: #e0dfdf;
    border: 1px solid rgb(153, 152, 152);
}
.btn {
    width: 100%;
}
#togglePassword {
    cursor: pointer;
    height: 37.535px;
    padding: 11px 15px;
    background: none;
    border-left: none;
}
.pass {
    float: right;
    margin-left: -25px;
    margin-top: -35px;
    position: relative;
    z-index: 2;
}
.cpass {
    cursor: pointer;
    float: right;
    margin-left: -25px;
    margin-top: -35px;
    padding: 11px;
    position: relative;
    z-index: 3;
}
hr {
    margin: 8px;
}
.successIcon {
    color: green;
    font-size: xx-large;
}
.header-text {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
}
.star {
    color: red;
    font-weight: 700;
}
.forget-password-link{
    text-align: end;
    text-decoration: none;
    display: block;
}
.logo img {
    height: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
hr {
    height: 2px;
}
.register-link {
    border-radius: 20px;
    text-transform: none;
}
@media (max-width: 767px) {
    label {
        text-align: left !important;
    }
}