.container {
    /* height: 77vh; */

}
.card {
    padding: 0px;
    margin: 24px auto;
}
.card-header {
    background-color: #37628D;
    
}
.boxes {
    margin: auto;
}

.errors-message {
    color: red;
}
.control-label   {
    color:rgb(56, 56, 56);
    text-align: left !important;
}
.form-group {
    padding: 4px 8px;
}
label {
    text-align: left !important;
    font-size: 1rem !important;
    text-transform: none;
}
.form-control {
    background-color: #e0dfdf;
    border: 1px solid rgb(153, 152, 152);
}
.btn {
    width: 100%;
}
#togglePassword {
    cursor: pointer;
    height: 37.535px;
    padding: 11px 15px;
    background: none;
    border-left: none;
}
#toggleConfirmPassword {
    cursor: pointer;
    height: 37.535px;
    padding: 11px 15px;
    background: none;
    border-left: none;
}
.pass {
    float: right;
    margin-left: -25px;
    margin-top: -35px;
    position: relative;
    z-index: 2;
}
.cpass {
    float: right;
    margin-left: -25px;
    margin-top: -35px;
    position: relative;
    z-index: 3;
}
hr {
    margin: 8px;
}
.successIcon {
    color: green;
    font-size: xx-large;
}
.header-text {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
}
.star {
    color: red;
    font-weight: 700;
}
.login-link{
    display: flex;
    justify-content: right;
    align-items: center;
    text-transform: none;
}
.register-link {
    background-color: #00A807;
    color: white;
}

@media (max-width: 767px) {
    label {
        text-align: left !important;
    }
    .login-link {
        margin: 16px auto;
        text-align: center;
        justify-content: center;
    }
}