
.head-text{
     font-size: 18px;
     font-weight: 700;
     margin-top: 20px;
    
}
.tv-text{
    font-size: 14px;
    margin-top: 15px;
    font-style: oblique;
}
.tv-video{
    margin-bottom: 10px;
}